@using eUseControl.ViewModels;
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form action="/Home/Checkout" method="post">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-lg-8 col-md-6">

                        <h6 class="checkout__title">Billing Details</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>First Name</p>
                                    <input type="text" name="FirstName">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Last Name</p>
                                    <input type="text" name="LastName">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Country</p>
                            <input type="text" name="Country">
                        </div>
                        <div class="checkout__input">
                            <p>Address</p>
                            <input type="text" class="checkout__input__add" name="Address">

                        </div>
                        <div class="checkout__input">
                            <p>Town/City</p>
                            <input type="text" name="Town">
                        </div>

                        <div class="checkout__input">
                            <p>Postcode / ZIP</p>
                            <input type="text" name="PostalCode">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phone</p>
                                    <input type="text" name="Phone">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email</p>
                                    <input type="text" name="Email">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h6 class="order__title">Your order</h6>
                            <div class="checkout__order__products">Product <span>Total</span></div>
                            <ul class="checkout__total__products">
                                @model List<CupcakeViewModel>

                                @{
                                    var groupedCupcakes = Model.GroupBy(c => c.CupcakeName);



                                }
                                @foreach (var group in groupedCupcakes)
                                {
                                    var cupcake = group.First();
                                    var cupcakeName = cupcake.CupcakeName;
                                    var cupcakeQuantity = group.Count();
                                    <li>
                                        <samp>@cupcakeQuantity.</samp> @cupcakeName <span>$ @(cupcake.Price * cupcakeQuantity)</span>
                                        <input type="hidden" name="OrderedCupcakes[@group.Key].CupcakeID" value="@cupcake.CupcakeID" />
                                        <input type="hidden" name="OrderedCupcakes[@group.Key].Quantity" value="@cupcakeQuantity" />
                                    </li>
                                }
                                @{double totalPrice = 0.0;
                                    foreach (var group in groupedCupcakes)
                                    {
                                        var cupcake = group.First();
                                        var cupcakeQuantity = group.Count();
                                        var totalCupcakePrice = (double)cupcake.Price * cupcakeQuantity;
                                        totalPrice += totalCupcakePrice;
                                    }
                                }

                            </ul>
                            <ul class="checkout__total__all">

                                <li>Total <span>$ @totalPrice</span></li>
                            </ul>

                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                        <div style="color: #650101; font-style: italic; margin-top: 13px;">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
<!-- Js Plugins -->
<script src="../Content/js/jquery-3.3.1.min.js"></script>
<script src="../Content/js/bootstrap.min.js"></script>
<script src="../Content/js/jquery.nice-select.min.js"></script>
<script src="../Content/js/jquery.barfiller.js"></script>
<script src="../Content/js/jquery.magnific-popup.min.js"></script>
<script src="../Content/js/jquery.slicknav.js"></script>
<script src="../Content/js/owl.carousel.min.js"></script>
<script src="../Content/js/jquery.nicescroll.min.js"></script>
<script src="../Content/js/main.js"></script>
</body>
