@using eUseControl.ViewModels;

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @model List<CupcakeViewModel>

                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th style="padding-right: 130px;">Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var groupedCupcakes = Model.GroupBy(c => c.CupcakeName);



                            }

                            @foreach (var group in groupedCupcakes)
                            {
                                var cupcake = group.First();
                                var cupcakeName = cupcake.CupcakeName;
                                var cupcakeID = cupcake.CupcakeID;
                                var cupcakeQuantity = group.Count();

                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__text">
                                            <h6>@cupcakeName</h6>
                                            <h6>$ @cupcake.Price</h6>
                                            
                                        </div>
                                    </td>
                                    <td>


                                        <h6 style="color:black; padding-left:35px;">@cupcakeQuantity </h6>


                                    </td>
                                    <td class="cart__price">$ @(cupcake.Price * cupcakeQuantity)</td>
                                    <td class="cart__close">
                                        <form  action="/home/DeleteCartItem" method="post">
                                            <input type="hidden"  name="id" value="@cupcakeID" />
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            @Html.ActionLink("Continue Shopping", "Shop", "Home", new { @class = "my-class" })
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        @{double totalPrice = 0.0;
                            foreach (var group in groupedCupcakes)
                            {
                                var cupcake = group.First();
                                var cupcakeQuantity = group.Count();
                                var totalCupcakePrice = (double)cupcake.Price * cupcakeQuantity;
                                totalPrice += totalCupcakePrice;
                            }
                        }

                        <li>Total <span>$ @totalPrice</span></li>


                    </ul>
                    @Html.ActionLink("Proceed to checkout", "Checkout", "Home", new { @class = "primary-btn" })

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
<!-- Js Plugins -->
<script>
$(document).on('click', '.delete-item', function() {
    var itemId = $(this).data('id');
    $.ajax({
        type: 'POST',
        url: '/itemcart/delete',
        data: { itemId: itemId },
        success: function(result) {
            // refresh the page to update the table
            location.reload();
        },
        error: function() {
            alert('Failed to delete item from cart.');
        }
    });
});
</script>
<script src="../Content/js/jquery-3.3.1.min.js"></script>
<script src="../Content/js/bootstrap.min.js"></script>
<script src="../Content/js/jquery.nice-select.min.js"></script>
<script src="../Content/js/jquery.barfiller.js"></script>
<script src="../Content/js/jquery.magnific-popup.min.js"></script>
<script src="../Content/js/jquery.slicknav.js"></script>
<script src="../Content/js/owl.carousel.min.js"></script>
<script src="../Content/js/jquery.nicescroll.min.js"></script>
<script src="../Content/js/main.js"></script>