
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-1.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$2.99</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="1" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }

                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-2.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cookies and Cream</a></h6>
                        <div class="product__item__price">$2.50</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="2" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-3.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Gluten Free Mini Dozen</a></h6>
                        <div class="product__item__price">$3.25</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="3" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-4.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cookie Dough</a></h6>
                        <div class="product__item__price">$3.50</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="4" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-5.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Vanilla Salted Caramel</a></h6>
                        <div class="product__item__price">$2.75</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="5" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                        </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-6.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">German Chocolate</a></h6>
                        <div class="product__item__price">$3.75</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="6" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-7.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Dulce De Leche</a></h6>
                        <div class="product__item__price">$3.99</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="7" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-8.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Mississippi Mud</a></h6>
                        <div class="product__item__price">$3.50</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="8" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-9.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">VEGAN/GLUTEN FREE</a></h6>
                        <div class="product__item__price">$2.95</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="9" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-10.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">SWEET CELTICS</a></h6>
                        <div class="product__item__price">$4.25</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="10" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-11.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">SWEET AUTUMN LEAVES</a></h6>
                        <div class="product__item__price">$3.25</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="11" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../Content/img/shop/product-12.jpg">
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">PALE YELLOW SWEET</a></h6>
                        <div class="product__item__price">$3.50</div>
                        @if (Session["CurrentUserName"] != null)
                        {
                            using (Html.BeginForm("Shop", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <input type="hidden" name="CupcakeID" value="12" />
                                <input type="hidden" name="Quantity" value="1" />
                                <div class="cart_add">
                                    <button type="submit">Add to cart</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="shop__last__option">
            <div class="row">
                
            </div>
        </div>
    </div>
</section>

<!-- Shop Section End -->
<!-- Js Plugins -->
<script src="../Content/js/jquery-3.3.1.min.js"></script>
<script src="../Content/js/bootstrap.min.js"></script>
<script src="../Content/js/jquery.nice-select.min.js"></script>
<script src="../Content/js/jquery.barfiller.js"></script>
<script src="../Content/js/jquery.magnific-popup.min.js"></script>
<script src="../Content/js/jquery.slicknav.js"></script>
<script src="../Content/js/owl.carousel.min.js"></script>
<script src="../Content/js/jquery.nicescroll.min.js"></script>
<script src="../Content/js/main.js"></script>